/* You can customize theme styles here */
.header .navbar-brand span:first-child{
    color: #478079;
}
.header .container{
    padding-left: 10px;
}

html body ::selection{
    background-color:#488079;color:#fff
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.phototitle {
  padding: 0.05rem;
  font-style: italic;
  font-weight: lighter;
}

.single img {
  max-height: 75vh;
  padding-top: 20px;
}

.single photo_title {
  margin-top: 5vh;
  margin-bottom: 5vh;


.gallery photo_title {
  padding: 10px;
  margin-bottom: 200px;
}

}
.gallery img {
  max-height: 200px;
}
