{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        {{ $img := .Site.Data.homepage.about.image }}
        <picture>
          <img src="{{ $img.path }}" alt="{{ $img.alt }}" class="img img-responsive full-width" />
        </picture>
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ .Site.Data.homepage.about.title }}</h2>
        {{ .Site.Data.homepage.about.content | markdownify }}
      </div>
    </div>
  </div>
</section>
{{ end }}
