{{ if .Site.Data.homepage.blog.enable }}
<section class="section rad-animation-group pb-0" id="blog">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
    {{ if .Site.Data.homepage.blog.title_enable }}
      <h2>{{ .Site.Data.homepage.blog.title }}</h2>
    {{ end }}
    {{ with .Site.GetPage "/blog" }}
      <div class="row d-flex flex-column-reverse flex-md-row">
        {{ range first 3 (sort .Data.Pages "Date" "desc") }}
          <div class = "col-md-4">
            <h5>{{ .LinkTitle }}</h5>
            <a class ="meta">
              {{ .Date.Format "January 2, 2006" }}
            </a>
            {{ .Summary }}
            <a
              href="{{ .Permalink }}"
              target="_blank"
              class="btn btn-primary"
            >
              <i class="{{ .Site.Data.homepage.blog.button.icon }}"></i>
              {{ .Site.Data.homepage.blog.button.btnText }}
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>

{{ end }}
