{{ if .Site.Data.photos.enable }}
<section class="section rad-animation-group pb-0" id="photos">
  <div class="container rad-fade-down">
    {{ if .Site.Data.photos.title_enable }}
    <div class="row">
      <div class="col-4 mx-auto text-center">
        <h2>{{ .Site.Data.photos.title }}</h2>
      </div>
    </div>
    {{ end }}
    <div class="row d-flex flex-column-reverse flex-md-row">
    {{ range sort .Site.Data.photos.photos "date" "desc"}}
      {{ $path := (print "photos/" .filename) }}
      {{ $img := resources.Get $path}}
      {{ $img := $img.Resize "x1080" }}
      <div class="photos col-4  align-self-center" align="center">
        <img src="{{ $img.RelPermalink }}" alt="{{ .title }}" height="200" class="img img-responsive full-width">
      </div>
    {{ end}}
    </div>
  </div>
</section>
{{ end }}
